.main-footer {
    background-color: #343a40;
}

.main-footer .Footer {
    text-align: center;
    color:#D5D3CA;
}

.main-footer .background {
    padding-top: 30px;
    margin: 0 40px;    
    font-size: 18px;
}

.main-footer .background a{
    color: #D5D3CA;
}

.main-footer .col{
    padding: 10px 0;
}

.main-footer .FooterLinks {
    margin: 0 auto;
    color: #D5D3CA;
    text-align: center;
    font-size: 16px;;
}

.main-footer .FooterLinks a {
    color: #D5D3CA;
}

