@media (min-width: 768px){
    .col-md-6:last-of-type {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;
}
}

.Dashboard input{
    margin-left: 20px;
}

.Dashboard label{
    margin-left: 5px;
}

.Dashboard input:first-of-type{
    margin-left: 25%;
}

.Dashboard p{
    padding: 0 5px;
    font-size: 30px;
}

.Dashboard .value{
    word-break:break-all;
    font-size: 20px;
}

.Dashboard .time{
    font-size: 20px;
}

.Dashboard .switch{
    padding: 10px 15px 15px 15px;
    font-size: 25px;
    letter-spacing: 10px;
}
