
.Dashboard .switch{
    padding: 5px 10px 10px 10px;
    font-size: 20px;
    letter-spacing: 10px;
}

.Dashboard .heading{
    margin: 50px 50px 50px 0;
    display: inline-block;
}

/* .Dashboard .switch:before[view=true]{
    content: "Test";
} */

/* ************ Cubes ************** */
@media (min-width: 768px){
    .custom-container .col-md-6:last-of-type {
        flex: 0 0 100%;
        max-width: 100%;
        margin: 0 auto;
}
}

.Dashboard input{
    margin-left: 20px;
}

.Dashboard label{
    margin-left: 5px;
}

.Dashboard input:first-of-type{
    margin-left: 20%;
}

.Dashboard p{
    padding: 0 5px;
    font-size: 30px;
}

.Dashboard .value{
    word-break:break-all;
    font-size: 20px;
}

.Dashboard .time{
    font-size: 20px;
    color: #343a40;
}

/* ************ Cards ************** */

.Dashboard .card{
    margin: 30px;
    text-align: center;
}