/* .Account .AccountRight{
    height: 850px;
}
*/
.Account .Mining, .TransCard{
    border: solid rgba(0, 0, 0, 0.125) 1px;
    border-radius: 0.25rem;
}

.Accout .MiningRow{
    margin-bottom: 30px;
}


.Account .TransCard{
    height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    
};


/* .AccountCard.card{
    height: 400px !important;
} */

.Account .KeyNumber{
    word-break:break-all;
}

.Account .AccountCard img{
    float: left;
    height: 40px;
}
